body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.icon {
    width: 1em;
}

span.badge.min, span.badge.mean, span.badge.max{
    font-size: small;
}
